#box1 {
    width: 1024px;
    height: 380px;
    
}

#box2 {
    width: 150px;
    height: 150px;
    margin-top: -80px;
    margin-left: 100px;
    border: 5px solid white;

    
}
#header {
        display: inline;
        color: brown;
        font-size: 50px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
}
